{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if post.paperurl %}
      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ post.paperurl }}" target="_blank" rel="noopener">{{ title }}</a>
      </h2>
    {% else %}
      <h2 class="archive__item-title" itemprop="headline">{{ title }}</h2>
    {% endif %}
    
    {% if post.authors %}
      <p class="archive__item-excerpt"><i>{{ post.authors }}</i></p>
    {% endif %}

    {% if post.venue and post.year %}
      <p class="archive__item-excerpt">{{ post.venue }}, {{ post.year }}</p>
    {% endif %}
  </article>
</div>

{% if forloop.last %}
  <p><sup>*</sup> Equal Contribution</p>
{% endif %}